{% extends 'bookings/main.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h2>Contact Us</h2>
                </div>
                <div class="card-body bg-light text-center">
                    <p>We’d love to hear from you! Visit us at our location below:</p>
                    <h3><a href="https://www.google.com/maps/place/Institute+of+Technology+of+Cambodia/@11.5652987,104.8912516,15.5z/data=!4m6!3m5!1s0x3109517388680e15:0x63057e6682968f5!8m2!3d11.5703975!4d104.8980857!16zL20vMDZ5dmhz?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                            target="_blank" class="text-primary">Map</a>
                    </h3>
                    <li><strong>Email:</strong> support@hotelbooking.com</li>
                    <li><strong>Phone:</strong> +855 1234567</li>
                    <li><strong>Address:</strong>Russian Conf Norodom Boulevard, Phnom Penh </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}