{% extends 'bookings/main.html' %}
{% load static %}

{% block title %}Available Rooms{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">All Rooms</h2>
    <div class="row">
        {% for room in rooms %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ room.image.url }}" class="card-img-top card-img-fix" alt="Room Image">
                <div class="card-body">
                    <h5 class="card-title">{{ room.room_type }} - Room {{ room.room_number }}</h5>
                    <p class="card-text">
                        <strong>Price:</strong> ${{ room.price_per_night }}<br>
                        <strong>Capacity:</strong> {{ room.capacity }} people<br>
                        <strong>Size:</strong> {{ room.size }} sq meters<br>
                        <strong>Status:</strong>
                        {% if room.is_available %}
                        <span class="text-success">Available</span>
                        {% else %}
                        <span class="text-danger">Unavailable</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}