{% extends 'bookings/main.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">All Rooms</h1>
    {% if rooms %}
    <div class="row">
        {% for room in rooms %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ room.image.url }}" class="card-img-fix" alt="Room {{ room.room_number }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ room.room_type }}Bed</h5>
                    <p>
                        <strong>Price: ${{ room.price_per_night }}</strong><br>
                        <strong>Capacity: {{ room.capacity }} people</strong><br>
                        <strong>Size: {{room.size }} sq meters</strong><br>
                        <strong>Available: {{ room.quantity_available }}</strong><br>
                        {% if room.quantity_available > 0 %}
                        <a href="{% url 'book_room' %}?room_id={{ room.id }}" class="btn btn-primary">Book Now</a>
                        {% else %}
                        <button class="btn btn-secondary" disabled>Unavailable</button>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center">No rooms available at the moment. Please check back later.</p>
    {% endif %}
</div>
{% endblock %}